/*Сброс стилей*/
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{

	background-color: #333336;
}
/*Подключение шрифтов*/
@font-face {
	font-family: "OpenSans"; 
	src: url("../Fonts/OpenSans.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 
@font-face {
	font-family: "OpenSans-Bold"; 
	src: url("../Fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 
@font-face {
	font-family: "OpenSans-SemiBold"; 
	src: url("../Fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 
/*Стили канваса и картинки из которой вырезаются карты*/
#sheet{
	
	border: 10px solid #666666;
	image-rendering: pixelated;
	position: absolute;
	margin-top:30px;
	margin-left: calc(50% - 640px);
	background-color: black;
}
#cardSpriteImg{
	display: none;
	width: 2488px;
	height: 1200px;
}
.btn{
	cursor: pointer;
}
/*Начальный экран*/
#startImage{
	width: 503px;
	height: 261px;
 	position: absolute;
	margin-top: 200px;
	margin-left: calc(50% - 251.5px);
	background-image: url("../Images/StartGame.png");
}
#startGameText{
	width: 300px;
	position: absolute;
	margin-top:450px;
	text-align: center;
	margin-left: calc(50% - 150px);
	opacity: 0.85;
	font-family: OpenSans-Bold;
	font-size: 28px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#screenBtn{
	position: absolute;
	padding: 10px 20px 10px 20px;
	background-color: #FFF;
	text-align: center;
	opacity: 0.85;
	border-radius: 4px;
	margin-top: 500px;
	margin-left: calc(50% - 72px);
	width: 144px;
	height: 42px;
}
#screenBtn:hover{
	background-color: #CCC;
}
#screenBtn{
	font-family: OpenSans-Bold;
	font-size: 16px;
	color: #1C7430;
	letter-spacing: 0;
}
.gameText{
	width: 300px;
	position: absolute;
	margin-top:430px;
	text-align: center;
	margin-left: calc(50% - 150px);
	opacity: 0.85;
	font-family: OpenSans-Bold;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/*Конец начального экрана*/

/*Финальны экран*/
#finalScore{
	width: 500px;
	position: absolute;
	margin-top:460px;
	text-align: center;
	margin-left: calc(50% - 250px);
	opacity: 0.85;
	font-family: OpenSans-Bold;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#finalImage{
	width: 503px;
	height: 261px;
 	position: absolute;
	margin-top: 180px;
	margin-left: calc(50% - 251.5px);
	background-image: url("../Images/FinalScreen.png");
}
#finalScreen{
	display: none;
}
/* Конец финального экрана */

/* Верхняя часть экрана, которая содержит кнопку "начать заново и счёт" */
#topMenuContainer{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	display: none;
	-ms-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row; 
	justify-content: space-between;
	position: absolute;
	width: 1280px;
	margin-left: calc(50% - 640px);
	margin-top: 100px;
	padding: 0px 200px 0px 211px;
	color: white;
}
#score{
	height: 20px;
	margin-left: auto;
	font-family: OpenSans-Bold;
	font-size: 14px;
}
#restartButton{
	height: 20px;
	font-size: 14px;
	font-family: OpenSans-SemiBold;
	color: white;
}
#restartButton:hover{
	color: lightgrey;
}
/*Верхняя часть конец*/

/*Улетающий счёт при нажатии*/
.currentScore{
	pointer-events:none;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	font-family: OpenSans-Bold;
	font-size: 50px;
	position: absolute;
	z-index: 1;
	visibility:collapse;
	color: green;
	-webkit-animation-name: scoreAnimation;
	-webkit-animation-duration: 2s;
	-moz-animation-name: scoreAnimation;
	-moz-animation-duration: 2s;
	-o-animation-name: scoreAnimation;
	-o-animation-duration: 2s;
}
@keyframes scoreAnimation
{
	0%   { visibility: visible;}
    100% { top: -100; color: white; display: }
}